<%= form_for @product, remote: true, html: { class: "form-horizontal", style: "display:inline;" } do |f| %>
    <div class="modal-body">
      <ul class="errors"></ul>

      <div class="control-group">
        <%= f.label :name, class:"control-label" %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :price, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :price %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
    </div>
<% end %>