<div class="container">
  <div class="well">
    <%= link_to "New Product", new_product_path, remote: true, class: "btn btn-primary" %>
  </div>
  <div class="new-product"></div>

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    </thead>
    <tbody class="product-index">
    <%= render "index" %>
    </tbody>
  </table>
</div>
<div id="product-modal" class="modal"></div>